# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Artifacts (mount as a volume instead)
artifacts/

# Optuna study DB
*.db

# Editor & OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docs
*.md
PROJECT_REPORT.md

# Jupyter
*.ipynb
.ipynb_checkpoints/
